.was-validated :invalid,
        input:invalid,
        select:invalid {
            border-color: #dc3545;
        }

        input:invalid ~ .invalid-feedback,
        select:invalid ~ .invalid-feedback,
        .form-check-input:invalid ~ .invalid-feedback {
            display: block;
        }

        .invalid-feedback {
            display: none;
        }